a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color:black;
}

.navbar-custom {
    background-color: #fff;
    color: #e46a35;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #e46a35;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #555d66;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #e46a35;
}

.header-container-wrapper{
    background-color: #e46a35;
}

.bg-primary{
    background-color: #e46a35 !important;
}

.bg-dark{
    background-color: #555d66 !important;
}

.btn-primary{
    color:#e46a35 !important;
    background-color:#fff !important;
    border-color:#fff !important;
}

.btn-secondary{
    color:#fff !important;
    background-color:#e46a35 !important;
    border-color:#e46a35 !important;
}

.btn-primary:hover{
    color:#555d66 !important;
    background-color:#fff !important;
    border-color:#fff !important;
}